body {
	font-family: Helvetica, GothicI, Academy;
	font-size: 12pt;
}
header {
	width: 100vw;
	color: #fffffe;
	height: 580px;
	box-sizing: border-box;
	background-color: #2b2a2f;
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}

.header__inner {
	display: flex;
	width: 980px;
	margin: 0 auto;
	height: 50px;
	padding: 15px;
	box-sizing: border-box;
}
.header__inner > div {
	margin-right: 20px;
}
.header__inner__logo, .footer__copiright__logo {
	color: #f7cca9;
	font-size: 21pt;
	font-family: Izhitsa Regular;
}
.header__inner__social { 
	display: flex;
}
.vkontakte {
	margin-right: 10px;
}

nav {width: 980px;
	margin: 0 auto;
	height: 35px;
	padding: 0px 50px 0px 25px;
	box-sizing: border-box;
}
ul {
	display: flex;
	margin-top: 15px;
	justify-content: space-between;
}
li {
	display: inline;
}
.carousel {
	text-align: center;
	height: 468px;
	background-image: url(../img/banner1.png);
	background-repeat: no-repeat;
	background-position: center;
	color: #2b2a2f;
	
}
.carousel__title {
	position: relative;
	top: 19%;
    left: -2%;
    padding-left: 30px;
    padding-right: 30px;

}
.carousel__title p{
	position: relative;
    left: 0%;
    margin-top: -5px;
}
.carousel__title span {
	font-family: Izhitsa Regular;
	font-size: 78pt;
	margin-top: 50px;
}
.studia {
	font-size: 22pt;
	font-family: Helvetica Regular;
	margin: 5px;
}
p.beuti {
	font-size: 30pt;
	font-family: Academy Bold;
	font-weight: bold;
	color: #6f5947;
	margin-top: 20px;
}
.nav_arrow {
	visibility: hidden ;
	margin-right: 5px;
}
nav ul li:hover, nav ul li:active{
background-image: url(../img/arrow.png);
background-repeat: no-repeat;
background-position: 0 center;
}
 a {display: block;
	color: #f7cca9;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 16pt;
	font-weight: 400;
}
a:hover {
	color: #f9f9f7;
	text-decoration: none;
}
.sub__nav a:hover {
	text-decoration: underline;
}
li ul {
	position: absolute; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    margin-bottom: 150px; /* Сдвигаем подменю вверх */
}
li:hover ul a {
	margin-top: 30px;
}
li:hover ul { 
    display: block; /* При выделении пункта курсором мыши отображается подменю */
    background: #2b2a2f;
    width: 390px;
    height: 370px;
    line-height:1.4em;
    font-size: 10pt;
    margin-top:0px;
    text-align: left;
    padding: 0 2% 0 4%;
    background-image: url(../img/decorative-element-chapter.png);
    background-repeat: no-repeat;
    background-position: center 95%;
    z-index: 30;
    background-size: 85%;
    box-sizing: border-box;
   }
 }
 .decorative__element, .trust__proffi {
 	width: 100vw;
 	object-fit: none; /* Do not scale the image */
  	object-position: center; /* Center the image within the element */
 	text-align: center;
 	height: 80px;
 	margin: 20px auto 0px auto;
 }
 .center {
 	width: 100%;
 	display:block; margin:10px auto;
 	
 }
.about__me {
 	background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
 	-webkit-background-size: cover;
 	background-size: cover;
 }
 .about__me__title h2 {
	font-family: Academy Bold;
	font-size: 32pt;
	text-align: center;
	font-weight: bold;
	color: #6f5947;
	margin-top: -70px;
	margin-bottom: 50px;
}
 .articles {
 	display: grid;
    text-align: center;
    width: 980px;
    height: auto;
    margin: 0 auto;
    grid-gap: 70px 0px;
    justify-items: center;
    align-items: center;
 	grid-template-areas: 
 	"a b"
 	"c d"
 	"e f"
 	"g h";
 }

 .articles h3 {
 	font-size: 20pt;
	font-family: Academy Bold;
	font-weight: 900;
	color: #6f5947;
	margin-bottom: 35px;
 }
 .articles h3:hover {
 	color: #9b7453;
 }
 .articles article {
 	display: block;
 	text-align: center;
 	border: none;
 	min-height: 410px;
 	border-bottom: 45px solid red;
 	border-image: url(../img/decorative-element-chapter.png) 100% 10;
 }
 article, article img {
 	width: 450px;
 }
 .article1 {
 	grid-area: a;
 }
 .article2 {
 	grid-area: b;
 }
 .article3 {
 	grid-area: c;
 }
 .article4 {
 	grid-area: d;
 }
 .article5 {
 	grid-area: e;
 }
 .article6 {
 	grid-area: f;
 }
 .article7 {
 	grid-area: g;
 }
 .article8 {
 	grid-area: h;
 }
 .main p:hover{
 	color: #5d5452;
 	z-index: 34;
 }
 .article5 h3 {
 	margin-top: 3.3em;
 }
.main {
	height: auto;
	background:
	url(../img/decor-left.png) no-repeat -2% 80%,
    url(../img/decor-right.png) no-repeat 105% 15%;
    background-size: 15%;
}
.main a { 
 	display: block;
 	position: relative;
  }
.main a:before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/change.png);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0; 
}
.img__link {


}
.main a:hover:before,
.main a:hover:after { 
	opacity: 1;
	width: 100%;
}
.trust__proffi {
	width: 100;
	height: 510px;
	background-image: url(../img/banner3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
 	display:block; margin:96px auto;
}
.about__me__main, .decorative-element-chapter, .prices__main {
	width: 980px;
 	display: block;
 	margin: 0 auto;
 }
 .decorative-element-chapter img {
 	object-fit: none; /* Do not scale the image */
  	object-position: center; /* Center the image within the element */
  	height: 100px;
  	width: 100%;
 	margin-top: 42px;
 	margin-bottom: -25px;
 }
 
 .about__me__hello h3 {
 	text-align: center;
 	font-family: Academy Bold;
 	font-size: 20pt;
 	margin-bottom: 5px;
 }
 .about__me__hello img {
 	float: left;
 	margin:0px 40px 0px 0px;
 }
 .about__me__hello p {
 	font-size: 11pt;
 	font-family:Century Gothic Regular;
 	line-height: 1.2em;
  }
  .about__me__skills {
  	margin-top: 110px;
  }
  .about__me__skills p {
  	font-size: 12.5pt;
 	font-family:Century Gothic Regular;
 	line-height: 1.35em;
  }
  .history {
  	display: block;
    font-family: Century Gothic Bold;
    font-size: 13pt;
    text-align: left;
    margin-top: 35px;
    font-weight: bold;
    margin-bottom: -20px;
  }
 .about__me__skills img {
 	float: right;
 	margin: 0px 0px 80px 40px;
 	margin-top: -10px;
 }
 .decorative-element-chapter {
 	margin-bottom: 100px;
 }
 .banner__beauty {
 	width: 100vw;
 	text-align: center;
 }
 .banner__beauty__center {
 	object-fit: none; /* Do not scale the image */
  	object-position: center; /* Center the image within the element */
  	height: 510px;
  	width: 100%;
 }
 .prices {
 	height: auto;
 }
 table {
 	margin: 0 auto 65px;
 	width:90%;
 	border-collapse: collapse;
 }
 .head__tab {
 	font-size: 22pt;
 	font-family: GothicI;
 	font-weight: bold;
 	color: #6f5947;
 	text-align: center ;
 	height: 60px;
 	margin-bottom:15px;
 }
 th {
 	padding: 0 5% 0 5%;
 }
 tr {
 	font-size: 14pt;
 	font-family: Academy Regular;
 	color: #020201;

 	height: 50px;
 }
tr:nth-child(even) {
 	background-color: #f1eae0;
 }
 td {
 	padding: 0 0 0 5%;
 }
 td:nth-child(even) {
 	font-size: 18pt;
 }
 footer {
 	height: 185px;
 	width: 100vw;
 	padding: 50px 7% 50px 7%;
	color: #fffffe;
	box-sizing: border-box;
	background-color: #2b2a2f;
 }
 .footer__inner {
 	width: 980px;
 	margin: 0 auto;
 	display: flex;
 	justify-content: space-between;
 }
 .footer__adress > div, .footer__social > a, .footer__copiright > div {
 	margin-bottom: 10px;
 }
 .footer__adress a, .footer__adress p{
 	display: inline;
 	color: #d2d1d2;
 	margin-left: 10px;
 	font-size: 14pt;
 	font-family: Helvetica Neue Regular;
 }
 .footer__adress, .footer__social, .footer__copiright {
 	display: flex;
 	flex-direction: column;
 	height: 65px;
 }
 .footer__social a {
 	display: block;
 }
 .social {
 	color: #d2d1d2;
 	font-family: Helvetica Neue Regular;
 	font-size: 14pt;
 }
 .footer__copiright, .footer__social {
 	text-align: center;
 }
 footer a:hover {
 	text-decoration: none;
 }
/*media query*/
@media screen and (min-width: 600px) and (max-width: 1000px) { 
header {
    height: auto;
}
.header__inner {
	width: 100vw;
	height: 50px;
	padding: 5px;
}
.header__inner > div {
	margin-right: 2%;
}
.header__inner__logo, .footer__copiright__logo {
	font-size: 17pt;
}

.vkontakte {
	margin-right: 1em;
}

nav {width: 95vw;
	margin: 0 auto;
	height: 15px;
	padding: 0px 1% 0px 1%;
	box-sizing: border-box;
}
ul {
	display: flex;
	margin-top: 0px;
	justify-content: space-between;
}
li {
	display: inline;
}
a {
    font-size: 12pt;
}
.carousel {
	height: 250px;
	background-size:50%;
	background-size: cover;
}
.carousel__title {
	position: relative;
	top: 19%;
    left: -2%;
    padding-left: 30px;
    padding-right: 30px;
}
.carousel__title p{
    margin-top: -5px;
}
.carousel__title span {
	font-size: 42pt;
	margin-top: 20px;
}
.studia {
	font-size: 18pt;
}
p.beuti {
	font-size: 20pt;
}
.articles {
    display: grid;
    text-align: center;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    grid-gap: 30px 0px;
    justify-items: center;
    align-items: center;
    grid-template-areas: "a" "b"
 "c" "d"
 "e" "f"
 "g" "h";
}
.trust__proffi {
    width: 95vw;
    height: 210px;
    margin-bottom: 10px;
}
.decorative-element-chapter img {
    object-fit: none;
    object-position: center;
    height: 100px;
    width: 98vw;
    margin-top: 12px;
    margin-bottom: -25px;
}
.about__me, .about__me__main {
	width: 100vw;
}
.about__me__title h2 {
    font-size: 25pt;
    color: #6f5947;
    margin-bottom: 20px;
    text-align: center;
}
.about__me__skills p {
	width: 98vw;
	margin-left: 6px;
}
.about__me__hello img, .about__me__skills img {
	width:40%;
	height: 30%;
    margin: 0px 25% 0px 25%;
    float: left;
}
.skills__text,.hello__text {
	float: left;
	width: 100vw;
	padding-left: 10px;
	margin-right: 10px;
	text-align: left;
}
.decorative-element-chapter {
	width: 100vw;
}
.history {
	float: left;
} 
 
.banner__beauty__center {
    width: 100vw;
    object-fit: contain;
    height: 250px !important;
}
table {
    margin: 0 5%; 
    width: 90vw;

    border-collapse: collapse;
}
footer {
	padding: 45px 5px 10px 5px;
}
.footer__inner {
    width: 100vw;
    font-size: 10pt;
    justify-content: space-evenly;
}
